@tailwind base;
@tailwind components;
@tailwind utilities;
 /* Import Yeseva One from Google Fonts */
/* Assuming you've added the font files to public/fonts */
@font-face {
  font-family: 'Yeseva One';
  src: url('/fonts/YesevaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-yeseva-one {
  font-family: 'Yeseva One', cursive;
}
.hero {
  @apply overflow-x-hidden; /* Disable horizontal scrolling */
}

@media (max-width: 767px) { /* Adjust breakpoint as needed */
  .hero h1 {
    flex-direction: column; /* Stack text vertically on smaller screens */
    align-items: center; /* Center the text vertically */
  }
}