@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
 /* Import Yeseva One from Google Fonts */
/* Assuming you've added the font files to public/fonts */
@font-face {
  font-family: 'Yeseva One';
  src: url('/fonts/YesevaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-yeseva-one {
  font-family: 'Yeseva One', cursive;
}
.hero {
  @apply overflow-x-hidden; /* Disable horizontal scrolling */
}
.text-openSansLight {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.text-openSansRegular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@media (max-width: 767px) { /* Adjust breakpoint as needed */
  .hero h1 {
    flex-direction: column; /* Stack text vertically on smaller screens */
    align-items: center; /* Center the text vertically */
  }
}